/* navbar */
.navbar-brand {
    font-family: Viga;
    font-size: 30px;
}

.sidebar-heading {
    font-family: Viga;
}

.jumbotron {
    background-image: url(img/home/grandcanyon.png);
    background-size: cover;
    color: white;
}

.home {
    background-color: lightgray;
}

.jumbotron .display-4 {
    font-family: viga;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-top: 50px;
}

.activity {
    margin-top: 20px;
}

.chart {
    margin-top: 30px;
    margin-bottom: 30px;
}

.table {
    margin-top: 30px;
}

.head {
    margin-top: 60px;
    margin-bottom: -30px;
}

body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.judul {
    margin-top: 50px;
}

.background,
.objective,
.theory,
.system,
.flow,
.credits {
    margin-top: 50px;
}

.card {
    margin-top: 30px;
    border-radius: 30px;
}

.card img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
}

.theory img {
    width: 30%;
}

span {
    color: crimson;
}

.objective img {
    width: 60%;
    margin-top: 30px;
}

.objective .isi,
.system .isi {
    text-align: left;
    margin-top: 50px;
}

.system img {
    width: 90%;
    margin-top: 20px;
}

li {
    margin-top: 10px;
}

.flow img {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.youtube {
    margin-top: 30px;
}

.profile {
    text-align: left;
    margin-top: 30px;
}

.media {
    margin-bottom: 30px;
}

.media img {
    width: 40px;
    margin-top: 5px;
}

.footer {
    margin-top: 50px;
    background-color: lightgray;
    color: black;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.footer .fab,
.footer .fas {
    color: black;
    margin-right: 8px;
}

.footer a {
    color: black;
}

.footer .project {
    font-family: viga;
    font-size: 40px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


/* Desktop */
@media (min-width: 992px) {
    .jumbotron {
        margin-top: -75px;
        height: 100vh;
        margin-bottom: -90px;
    }

    .nav-link {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid orange;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron .display-4 {
        margin-top: 150px;
    }

}

body {
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.container-fluid .row {
    padding: 0 0 4em 0;
}

.footer {
    text-align: left;
    margin-top: 100px;
}

.footer .fas {
    margin-right: 18px;
}

.dashboard .footer {
    margin-top: -0px;
}

.dashboard .footer .fas {
    margin-right: 16px;
}


/* 
.container-fluid .row:nth-child(even) {
    background: #F1F4F5;
} */