/* navbar */


.navbar-brand {
    font-family: Viga;
    font-size: 30px;
    opacity: 1 !important;
}


h1 {
    font-family: viga;
}

.jumbotron {
    background-image: url(../img/home/bg-home-01.svg);
    background-size: cover;
    background-color: white;
}

.jumbotron .display-4 {
    font-family: viga;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-top: 50px;
}

.footer {
    margin-bottom: 20px;
}

.riset-head .media {
    margin-top: 20px;
}

.riset-head .media img {
    width: 100px;
}

.riset-cellular,
.riset-vanet,
.riset-iot {
    margin-top: 50px;
}

.riset-cellular-head .media,
.riset-vanet-head .media,
.riset-iot-head .media {
    margin-top: 20px;
}

.riset-cellular-head .media img,
.riset-vanet-head .media img,
.riset-iot-head .media img {
    width: 100px;
}

.riset-cellular-content,
.riset-vanet-content,
.riset-iot-content {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}


/* Desktop */
@media (min-width: 992px) {
    .jumbotron {
        margin-top: -75px;
        height: 800px;
    }

    .nav-link {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid orange;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron .display-4 {
        margin-top: 150px;
    }

    .riset-head {
        margin-top: -400px;
    }

    .riset-cellular,
    .riset-vanet,
    .riset-iot {
        margin-top: 70px;
    }

}