.navbar {
    background-color: #1e1e1e;
    /* margin: 10pt; */
    /* color: red; */
    text-align: right;
    opacity: 0.9;
}

.navbar-nav {
    margin-left: auto;
    color: white;
}

.tittle {
    color: #444444;
}

.dot {
    color: red;
}

i {
    color: red;
}

 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
      color: black;
 }

.container .jumbotron {
    margin-top: -60px;
    text-align: center;
    height: 100vh;
    padding-top: 50%;
    padding-bottom: 20%;
}

.jumbotron b {
    font-size: 40pt;
}

@media (min-width: 768px) {
    .container .jumbotron {
        padding-top: 200px;
    }

    .jumbotron b {
        font-size: 90pt;
    }
}


.jumbotron p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10%;
}

.content p {
    font-size: 15px;
    margin-top: 10px;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portfolio {
    margin-top: 30px;
    border-color: transparent;
    /* background-color: red; */
}

.portfolio img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    vertical-align: middle;
    margin-right: 10px;
}

.row {
    text-align:center;
}

@media (min-width: 768px) {
    .row {
        text-align: left;
    }
}

.course {
    margin-top: 10pt;
}

.content figcaption {
    font-size: 10pt;
    color: red;
}

.content figcaption cite {
    color: #1e1e1e;
}

.footer img {
    text-align: center;
    width: 45px;
    margin-bottom: 5px;
}

.footer {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 5%;
}

.bottom {
    padding-top: 10pt;
    padding-bottom: 10pt;
    background-color: #1e1e1e;
    text-align: right;
}

#contact i {
    color: red;
    margin-top: 30px;
}

#contact i:hover {
    color: white;
}


@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    /* width: 350px; */
    display:block;
    margin: 0 auto;
    margin-left: -32px;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:white;
}
.fa-twitter:hover {
    background-color: red;
}

.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:white;
}
.fa-youtube:hover {
    background-color: red;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: white;
}
.fa-linkedin:hover {
    background-color:red;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:white;
}
.fa-github:hover {
    background-color:red;
}
